.cover-page {
    height: 50vh;
    background: linear-gradient(rgba(255,255,255,0.8),
                             rgba(255,255,255,0.8)), 
                             url("https://res.cloudinary.com/hannahj/image/upload/v1576806077/endtracking_m3ozuo.jpg");
    background-size: 100% 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
.article {
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
margin-top: 20px;
margin-bottom: 20px;
color: #3A3D3F;
}
.title {
    padding: 0.35em;
}
.container {
    display: flex;
    justify-content: center;
}
.about-text {
    padding: 5px 20px;
    font-size: 1.5em;
    line-height: 1.5em;
}
.order-now-link {
    background-color: rgba(216, 192, 216, 0.5);
}
.order-now-link:hover {
    background-color: rgba(216, 192, 216, 1.0);
}
.see-menu-header {
    padding: 1em;
}
@media only screen and (min-width: 768px) {
    .title {
        padding: 1em;
    }
}
@media only screen and (min-width: 1024px) {
    .title {
        padding: 0.85em;
    }
}
@media only screen and (min-width: 1270px) {
    .title {
       padding: 0em;
    }
}