/* styles for about Me paragraphs */

.article {
display: flex:
flex-direction: column;
width: 80%;
margin-top: 20px;
margin-bottom: 20px;
color: white;
line-height: 23px;
}

.title {
font-size: 25px;
color: #e1e276;
}

@media only screen and (min-width: 570px) {

.article {
font-size: 20px;
line-height: 27px;
}
}