/* styles for questions form (potentially also for order form */

* {
line-height: 23px;
color: white;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
margin-bottom: 25px;
}

.submitButton {
border-radius: 15%;
box-shadow: -0.5px 2px 6px;
}

.orderForm {
display: flex;
}

.submitButton {
color: black;
background-color: yellow;
}

@media only screen and (min-width: 570px) {

* {
font-size: 23px;
line-height: 32px;
}

}