.page-link a {
text-decoration: none;
color: black;
border: 2px solid black;
background: linear-gradient(to right, rgb(255, 128, 192), rgb(255, 0, 255));
padding: 10px;
border-radius: 5%;
box-shadow: 1px 2px 1px;
width: 100%;
}

.page-column {
display: flex;
flex-direction: column;
width: 60%;
}

.page-link {
display: flex;
margin: 15px 0px;
text-align: center;
}

/* order button styles */
.orderButton a {
text-decoration: none;
color: black;
border: 2px solid black;
background: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 128));
padding: 10px;
border-radius: 5%;
box-shadow: 1px 2px 1px;
width: 100%;
}

.orderButton {
display: flex;
margin: 15px 0px;
text-align: center;
}

.image-container {
	display: flex;
	width: 40%;
	flex-direction: column;
	margin: 2px;
}

.image {
	width: 100%;

}


@media only screen and (min-width: 570px) {

#link-container {
background-color: white;
}

.orderButton {
width: 100%;
margin: 0px;
}

.page-column {
width: 100%;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

#askQuestion, #menu, #imageGallery, #aboutMe {
display: none;
}

.oreo-image-container {
	width: 40%;
	margin: 7px;
}
}
