/*main styles*/

/* site-wide font & sizing */
* {
font-family: 'Courgette', cursive;
box-sizing: border-box;
}

h1, h2 {
font-family: 'Courgette', cursive;
text-align: center;
color: white;
}

h1 {
font-size: 45px;
}

h2 {
font-size: 35px;
}

h1 a {
text-decoration: none;
color: white;
}

/* hide links mobile */
.nonMobileSite-links{
display: none;
}

/* nav-bar styles */
.nav-bar {
display: flex;
justify-content: space-between;
padding: 10px;
width: 97%;
margin: 5px;
border-radius: 5px;
}

/* cover image */
.cover-page {
height: 35vh;
background: url(chocolateCookies.webp);
background-size: 100% auto;
background-repeat: no-repeat;
}

/* main-body background styles */
#link-container{
display: flex;
/* background-color: #f9f9e4; */
/* background-color: #4b4b4b;*/
/* background-color: #4b4b4bed; */
background-color: #F7EFF3;
justify-content: center;
}

/* footer styles */
.footer{
background-color: gray; 
padding: 30px;
color: white;
height: 20vh;
}

footer a {
text-decoration: none;
color: white;
font-size: 28px;
}

a:hover {
cursor: pointer;
}

.orderButton a {
background: linear-gradient(to right, rgb(255, 255, 128), rgb(255, 255, 0));
text-decoration: none;
color: black;
border: 2px solid black;
padding: 10px;
border-radius: 5%;
box-shadow: 1px 2px 1px;
width: 100%;
}

hr {
visibility: hidden;
}

@media only screen and (min-width: 570px) and (max-width: 1030px) {

.cover-page {
height: 50vh;
}

.orderButton a {
font-size: 23px;
}

.nonMobileSite-links {
display: flex;
}

hr {
visibility: visible;
}

.nav-bar {
display: flex;
padding: 0px;
margin: 0px;
width: 100%;
}

.nonMobileSite-links {
width: 100%;
justify-content: space-around;
margin: 0px;
font-size: 25px;
font-weight: bold;
padding: 10px;
}

.nonMobileSite-links a {
text-decoration: none;
color: #dff90b;
}

.nonMobileSite-links:hover {
cursor: pointer;
}
}

@media only screen and (min-width: 1030px) {

.cover-page {
height: 75vh;
}

.orderButton a {
font-size: 23px;
}

.nonMobileSite-links {
display: flex;
}

hr {
visibility: visible;
}

.nav-bar {
display: flex;
padding: 0px;
margin: 0px;
width: 100%;
}

.nonMobileSite-links {
width: 100%;
justify-content: space-around;
margin: 0px;
font-size: 25px;
font-weight: bold;
padding: 10px;
}

.nonMobileSite-links a {
text-decoration: none;
color: #dff90b;
}

.nonMobileSite-links:hover {
cursor: pointer;
}
}
}




