.cover-page {
    height: 50vh;
    background: linear-gradient(rgba(255,255,255,0.7),
                             rgba(255,255,255,0.7)), 
                             url("https://res.cloudinary.com/hannahj/image/upload/v1576807290/IMG_3974_dzlzth.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.submitButton {
border-radius: 10%;
box-shadow: -0.5px 2px 6px;
}

.submitButton {
color: white;
background-color: purple;
padding: 10px 15px;
font-size: 1.25em;
font-weight: bold;
}
.submitButton:hover {
    cursor: pointer;
	opacity: 0.80;
	box-shadow: 1px 1px 1px 2.5px;
}

.form {
width: 50%;
padding: 10px 15px;
font-weight: bold;
font-size: 1.25em;
line-height: 2em;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
flex-direction: column;
align-items: center;
}
input, textarea {
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    .form {
        columns: 2;
    }
}