/* style icon and hidden links */

.hiddenLinks {
display: none;
}

.showLinks{
display: flex;
flex-direction: column;
align-items: center;
}

li > a {
text-decoration: none;
color: black;
}

.navBar{
display: flex;
justify-content: center;
width: 100%;
background-color: pink;
position: fixed;
padding: 1px;
}

.mainList{

}

.orderButton{
width: 100%;
background-color: #ff000078;
box-shadow: 2px 2px 2px;
margin-top: 22px;
}

.orderButtonLower{
margin-top: 68px;
}

.buttonContainer{
}

.imageContainer{
margin-top: 10px;
border: 2px solid red;
}

.aboutMe{
border: 2px solid blue;
}

.footer{
border: 2px solid black;
}


/*for bigger phones & tablets styles */

@media only screen and (min-width: 440px) and (max-width: 960px) {

.icon{
display: none;
}

.hiddenLinks {
display: flex;
flex-direction: column;
align-items: center;
}

.orderButton{
margin-top: 68px;
}


/* for desktop styles */
